In [1]:
# Import the Zip file
path_to_zip_file = "datasets-1.zip"
directory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file, 'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [2]:
# Load the csv data
import pandas as pd
Location = "datasets/algebradata.csv"
df = pd.read_csv(Location)

In [3]:
# Observe the data
df.head()
df.tail()

        Fname      Lname Gender Grade  Hours of Study
994    Harold     Looner      M     D              11
995     Paula      Moore      F     C               6
996    Martin   Franklin      M     C              25
997    Nicole  Henderson      F     A              20
998  Veronica   Harrison      F     D              21

In [4]:
# Drop any missing values
df = df.dropna()

In [5]:
# The percentage of the students with a passing grade
# total number of students
total_count = len(df)
# number of students with A, B, C

pass_grade = len(df[(df['Grade'] == 'A') | (df['Grade'] == 'B') | (df['Grade'] == 'C')])

# percentage of passing grade
float(pass_grade) / total_count

0.6916916916916916

In [6]:
# Percentage of Women with a passing grade
women_total = len(df[df['Gender'] == 'F'])
pass_grade_female = len(df[(df['Gender'] == 'F') & ((df['Grade'] == 'A') | (df['Grade'] == 'B') | (df['Grade'] == 'C'))])
float(pass_grade_female) / women_total

0.7355212355212355

In [7]:
# Average hours of study for all students
df['Hours of Study'].mean()

15.115115115115115

In [8]:
# average hours of study for students with passing grade
# pass_grade will be a dataframe of all students with passing grades
pass_grade = df[(df['Grade'] == 'A') | (df['Grade'] == 'B') | (df['Grade'] == 'C')]
pass_grade['Hours of Study'].mean()

16.29811866859624

In [9]:
# Correlation between Hours of Study and Grade
# First convert Grades into Numeric data

def grade_convert(x):
    if x == "A":
        return 90
    if x == "B":
        return 80
    if x == "C":
        return 70
    if x == "D":
        return 60
    if x == "F":
        return 50

In [10]:
# Change the 'Grade' Columns
df['Grade'] = df['Grade'].apply(grade_convert)
df.tail()

        Fname      Lname Gender  Grade  Hours of Study
994    Harold     Looner      M     60              11
995     Paula      Moore      F     70               6
996    Martin   Franklin      M     70              25
997    Nicole  Henderson      F     90              20
998  Veronica   Harrison      F     60              21

In [11]:
# Correlation between Grade and Hours of Study
df.corr()

                   Grade  Hours of Study
Grade           1.000000        0.278578
Hours of Study  0.278578        1.000000

In [12]:
# Change header name
headers = list(df.columns.values)
headers[4] = 'hours'
df.columns = headers
# Regression without intercept
import statsmodels.formula.api as sm
result = sm.ols(formula = 'Grade ~ hours -1', data = df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Grade   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     3142.
Date:                Sat, 24 Jun 2017   Prob (F-statistic):          1.38e-310
Time:                        14:19:31   Log-Likelihood:                -5022.5
No. Observations:                 999   AIC:                         1.005e+04
Df Residuals:                     998   BIC:                         1.005e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
hours          3.7249      0.066     56.055      0.000       3.595       3.855
==============================================================================
Omnibus:                       82.614   Durbin-Watson:                   1.509
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.124
Skew:                           0.039   Prob(JB):                     1.29e-06
Kurtosis:                       2.197   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""